@import url("https://fonts.googleapis.com/css?family=Karla:weight@400;700&display=swap");

$font: "Karla", sans-serif;
 
body {
  font-family: $font;
  margin: 0;
  padding: 0;
}

.jira {
  &_box {
    width: 100%;
    padding: 50px;
    margin: 0 auto;
    text-align: center;
  }//.jira_box

  &_text {
    font-size: 25px;
    font-weight: bold;
  }//.jira_text

  &_input {
    display: inline-block;
    width: 300px;
    padding: 10px;
    margin-right: 5px;
    font-size: 16px;
    outline: none;
    border-color: #444;
    box-sizing: border-box;
    border-radius: 4px;
  }//.jira_input

  &_button {
    width: 70px;
    height: 45px;
    border: none;
    background-color: #333;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    box-sizing: border-box;
  }//.jira_button

  &_board {
    display: flex;
    width: 100%;

    .board {
      flex: 1;
      padding: 10px;
      &:not(:first-child) {
        margin-left: 10px;
      }
    }

    .card {
      display: block;
      min-height: 110px;
      border-radius: 6px;
      padding: 15px;
      box-sizing: border-box;
      text-decoration: none;
      color: #fff;
      background-color: #333;
      font-size: 19px;
      font-weight: 500;
      cursor: move;

      &:not(:first-child) {
        margin-top: 15px;
      }

      &.over {
        border: 3px dashed #ed0086;
      }

      &_desc {
        font-size: 14px;
        margin: 5px 0;
      }//.card_desc
    }
  }//.jira_board
}

#number {
  width: 160px;
}