@import url("https://fonts.googleapis.com/css?family=Karla:weight@400;700&display=swap");

$font: "Karla", sans-serif;

body {
  font-family: $font;
}

.jira {
  &_box {
    width: 500px;
    padding: 50px;
    text-align: center;
    margin: 0 auto;
  }

  &_text {
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  &_input {
    width: 250px;
    height: 30px;
    font-size: 16px;
  }

  &_button {
    width: 100px;
    height: 36px;
    border: none;
    background-color: cadetblue;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
  }

  &_link {
    display: block;
    font-size: 20px;
    color: cadetblue;
    margin-top: 20px;
  }
}